importFrom(KernSmooth, bkde)
import(methods)
importFrom("graphics", "abline", "box", "grid", "legend", "lines", "mtext", "title")
importFrom("stats", "approx", "density", "lowess", "lsfit", "optim", "ppoints", "qexp", "quantile", "rexp", "runif", "uniroot", "var")
importFrom("utils", "menu")
exportClasses("SPD","GPDTAILS","GPDFIT")
exportMethods("spdfit")
exportMethods("pspd","dspd","qspd","rspd")
exportMethods("show","plot")
